body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game {
  text-align: center;
  margin: auto;
  width: fit-content;
}

.menuButtons {
  margin: 10px auto;
  width: fit-content;
}

.board {
  border-radius: 10px;
  height: auto;
  padding: 10px;
  background-image: linear-gradient(#f4f4f7, #8e9bb9);
  margin: auto;
  width: fit-content;
}

.row_header {
  padding-bottom: 5px;
}

.imageFlag {
  background: white url("flag.png") no-repeat center;
  background-size: contain;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 4px;
}

.labelFlag {
  vertical-align: bottom;
  font-size: 12px;
}

.container {
  display: table;
  border-collapse:collapse

}
.column {
  display:table-row;
  border: 1px solid #929191;
}

.cell, .cell:active, .cell:hover {
  height: 25px;
  width: 25px;
  vertical-align: middle;
  outline: none;
  display: table-cell;
  box-shadow: inset 0px -2px 1px #929191, inset 2px 2px 1px #f5f5f5, inset -2px 0px 1px #929191 !important;
  background: lightgray;
  border-radius: 0;
  border-bottom: 1px solid #929191;
  border-right: 1px solid #929191;
  border-left: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5;
}


.cell.flag {
  background: white url("flag.png") no-repeat center;
  background-size: contain;
}

.cell.opened, .cell.opened:hover {
  background: #efebeb;
  box-shadow: 0 0 0 1px #ddd inset, 0 0px 0px #fff !important;
  border: 1px solid #929191;
}

.cell.opened.color1 {
  color: blue;
}

.cell.opened.color2 {
  color: green;
}

.cell.opened.color3 {
  color: red;
}

.cell.opened.color4 {
  color: darkblue;
}

.cell.opened.bomb {
  background: #efebeb url("bomb.png") no-repeat;
  background-size: contain;
}

.cell.opened.bomb.lastClick {
  background-color: red;
}

.cell.opened.bomb.flag {
  background: #efebeb url("bomb_flag.png") no-repeat;
  background-size: contain;
}

